
<div class="mdl-card mdl-shadow--2dp">

    <div class="mdl-card__supporting-text">

      <div>
        <img class="logo" src="https://img.icons8.com/bubbles/344/man-phone-medal.png" height="100" width="100" style="max-width:100%">
    </div>

      <div class="mdl-stepper-horizontal-alternative">

        <div class="mdl-stepper-step active-step">
          <div class="mdl-stepper-circle"><span>1</span></div>
          <div class="mdl-stepper-title">Dados pessoais </div>
          <div class="mdl-stepper-bar-left"></div>
          <div class="mdl-stepper-bar-right"></div>
        </div>
        <div class="mdl-stepper-step active-step">
          <div class="mdl-stepper-circle"><span>2</span></div>
          <div class="mdl-stepper-title">Endereço</div>
          <div class="mdl-stepper-bar-left"></div>
          <div class="mdl-stepper-bar-right"></div>
        </div>

      </div>

    </div>

  </div>
