<div class="container">
    <form [formGroup]="form">
        <h1>Dados pessoais</h1>
        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="fill">
                    <input
                        type="text"
                        (change)="validarNome()"
                        matInput
                        formControlName="nome"
                        name="nome"
                        placeholder="Nome"
                    />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <input
                        type="email"
                        (change)="validarEmail()"
                        matInput
                        formControlName="email"
                        name="email"
                        placeholder="E-mail"
                    />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <input
                        type="text"
                        (change)="validarCelular()"
                        matInput
                        formControlName="celular"
                        name="celular"
                        placeholder="Celular"
                    />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <input
                        type="text"
                        (change)="validarCPF()"
                        matInput
                        formControlName="cpf"
                        name="cpf"
                        placeholder="CPF"
                    />
                </mat-form-field>
            </div>
        </div>
        <div class="row button-group">
            <div class="col-6">
                <button type="button" [disabled]="form.invalid" (click)="submit()" mat-flat-button color="primary">
                Continuar
                </button>
            </div>
        </div>
    </form>
    <div>
        <img class="dados" src="https://cdn.pixabay.com/photo/2022/03/05/10/08/beauty-7048849__340.jpg" height="400" width="400" style="max-width:100%">
    </div>
</div>
